<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >


    <!-- declare camera joint at front center of the chassis -->
    <joint name="camera_joint" type="fixed">
        <parent link="chassis"/>
        <child link="camera_link"/>
        <origin xyz="0.276 0 0.181" rpy="0 0.18 0"/>
    </joint>   

    <!-- link definition (we deleted collision tags becuase camera is so small in size -->
    <link name="camera_link">
        <visual>
            <geometry>
                <box size="0.010 0.03 0.03"/>
            </geometry>
            <material name="black"/>
        </visual>
        <visual>
            <origin xyz="0 0 -0.05"/>
            <geometry>
                <cylinder radius="0.002" length="0.1"/>
            </geometry>
            <material name="black"/>
        </visual>
    </link>

    <!-- extra joint to convert from ros camera system to the know image camera system (refer to the file called 'image_system_comarison.png' to know the difference -->
    <joint name="camera_optical_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_link_optical"/>
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>

    <!-- the link has know definition as its purpose was only to transfer image coordinate system using roll and yaw -->
    <link name="camera_link_optical"></link>


    <!-- actual camera sensor details -->
    <gazebo reference="camera_link">
        <material>Gazebo/Black</material>

        <sensor name="camera" type="camera">
            <!-- same as lidar -->
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>

            <!-- details related to camera -->
            <camera>
                <!-- horozontal field of view = 62.395104 degree -->
                <horizontal_fov>1.089</horizontal_fov>
                <!-- deltails related to image -->
                <image>
                    <!-- 8 bits red, 8 bits green, 8 bits blue -->
                    <format>R8G8B8</format>
                    <!-- image size in pixels -->
                    <width>640</width>
                    <height>480</height>
                </image>
                <!-- miniumum and maximum ranges for the camera that it can see (z_min and z_max) -->
                <clip>
                    <near>0.05</near>
                    <far>12.0</far>
                </clip>
            </camera>
            <!-- actual plugin takes reads from transformed image even the sensor is attached to the 'camera_link', we want 'camera_link_optical' -->
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_link_optical</frame_name>
            </plugin>
        </sensor>
    </gazebo>

</robot>