<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <!-- <xacro:arg name="use_ros2_control" default="true"/> -->
    <xacro:arg name="use_ros2_control" default="false"/>
    <xacro:arg name="sim_mode" default="false"/>


    <!-- contains robot core shape -->
    <xacro:include filename="robot_core.xacro" />

    <!-- contains gazebo plugins-->
    <xacro:include filename="gazebo_control.xacro" />
    
    <!-- for lidar sensor -->
    <xacro:include filename="lidar.xacro" />
    
    <!-- IMPORTANT: only one camera can be activated so uncomment one and run the project with it -->
    <!-- for camera -->
    <!-- <xacro:include filename="camera.xacro" /> -->
    <!-- for depth camare -->
    <xacro:include filename="depth_camera.xacro" />

    <!-- add smily face to the robot -->
    <xacro:include filename="face.xacro" />
    
    <!--  <xacro:if value="$(arg use_ros2_control)">
        <xacro:include filename="ros2_control.xacro" />
    </xacro:if>
    <xacro:unless value="$(arg use_ros2_control)">
        <xacro:include filename="gazebo_control.xacro" />
    </xacro:unless>
     -->


</robot>